<h1>Pirate</h1>
  <%= @pirate.name %>
  <%= @pirate.weight %>
  <%= @pirate.height %>

<h2>First Ship</h2>
  <%= @ship1.name %>
  <%= @ship1.type %>
  <%= @ship1.booty %>]

<h2>Second Ship</h2>
<%= @ship2.name %>
<%= @ship2.type %>
<%= @ship2.booty %>]
