<h1>Behold, the Pirate!</h1>
Pirate Name: <%= @pirate.name %><br>
Pirate Height: <%= @pirate.height %><br>
Pirate Weight: <%= @pirate.weight %><br>

<h2>His First Love, His First Ship:</h2>
First Ship Name: <%= @ship1.name %><br>
First Ship Type: <%= @ship1.type %><br>
First Ship Booty: <%= @ship1.booty %><br>

<h2>The Ship He Left His First Ship For:</h2>
Second Ship Name: <%= @ship2.name %><br>
Second Ship Type: <%= @ship2.type %><br>
Second Ship Booty: <%= @ship2.booty %><br>
