<h1>Display your Pirate here</h1>
<%= params["pirate"]["name"] %>
<%= params["pirate"]["weight"] %>
<%= params["pirate"]["height"] %>

<h2>Display your first ship here</h2>
<%= params["pirate"]["ships"][0]["name"] %>
<%= params["pirate"]["ships"][0]["type"] %>
<%= params["pirate"]["ships"][0]["booty"] %>

<h2>Display your second ship here</h2>
<%= params["pirate"]["ships"][1]["name"] %>
<%= params["pirate"]["ships"][1]["type"] %>
<%= params["pirate"]["ships"][1]["booty"] %>
